.flexTr {
    border: 1px solid;
}

.right,
.left {
    border: 1px solid;
}

.aboutimg {
    padding: 20px 70px;
    border-radius: 100px;
}

.Btn {
    text-align: center;
    align-content: center;
    justify-content: center;
}