.row {
    border: 2px solid;
}

/* .flexSB {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.4rem;
}