.reg {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
    transition: 0.5s;
}

.reg:hover {
    color: white;
    background-color: skyblue;
}

.advice {
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
    transition: 0.5s;

}

.advice:hover {
    color: white;
    background-color: skyblue;
}

.container .reg-btn {
    border-radius: 25px;
}

.container .reg-btn:hover {
    background-color: rgb(182, 231, 250);
    color: rgb(168, 162, 162);
}