.header1 .container {
    padding-top: 15px;
}

.container {
    min-width: 95%;
    margin: auto;
}

.n_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header1 ul li {
    list-style: none;
    margin-left: 30px;
    margin-right: 5px;
}

.header1 ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

.navlink .ulflex {
    display: flex;

}

.uppercase {
    text-transform: capitalize;
}

.header1 ul li a:hover {
    color: rgb(140, 140, 139);
}

.home-btn {
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.5s all ease;
    border-radius: 5px;
    height: fit-content;
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #fff;
}

.home-btn:hover {
    background: #000;
    color: #fff;
}