.flexMI {
    display: flex;
    height: 60vh;
    flex-wrap: wrap;
    /* background-color: bisque;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px solid black;*/
    text-align: center;
}

.right,
.left {
    /* border: 2px solid black; */
    width: 700px;
    height: 400px;
    margin: 12px;

}

.flexMI .right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    border-radius: 30% 15%;
}

.flexMI .left {
    transform: translateY(20px);
}

.flexMI .left h1 {
    text-transform: capitalize;
    margin-top: 40px;
}

.flexMI .left p {
    margin-top: 20px;
    padding: 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.flexMI .right:hover img {
    transform: scale(1.1);
    transition: 0. 5s;
}