.container.right .img {
    width: 400px;
    height: 400px;



}


.container .left {
    margin: auto;
    text-align: center;
    padding: 30px;
}



.container .right {
    height: 400px;
    padding-left: 10%;
}

.container .right {
    margin: auto;
}

.container .right img {

    transform: translateY(20px);
}

.container .right img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}


/* 

.container .right img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    border: 1px solid black;
    padding: 20px 10px 0 10px;
    height: 400px;
    text-align: centers;
}

.container .desc {
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.left h1 {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
}

.left p {
    font-size: 17px;
    font-weight: 400;


}

.right {
    border: 1px solid black;
    padding: 20px;
    height: 400px;


}


.container .margin {
    margin: 20px;
}



.reg {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
    transition: 0.5s;
}

.reg:hover {
    color: white;
    background-color: skyblue;
}

.advice {
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
    transition: 0.5s;

}

.advice:hover {
    color: white;
    background-color: skyblue;
}

.container .reg-btn {
    border-radius: 25px;
}

.container .reg-btn:hover {
    background-color: rgb(182, 231, 250);
    color: rgb(168, 162, 162);
} */