.flexMI {
    display: flex;
    height: 70vh;
    flex-wrap: wrap;

    text-align: center;
}

.right,
.left {
    border: 2px solid black;
    width: 700px;
    height: 400px;
    margin: 12px;

}

.flexMI .right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    border-radius: 30% 15%;
}

.flexMI .left {
    height: 350px;

}

.flexMI .left h1 {
    text-transform: capitalize;
    margin-top: 40px;
}

.flexMI .left p {
    margin-top: 20px;
    padding: 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.flexMI .right:hover img {
    transform: scale(1.1);
    transition: 0. 5s;
}

@media screen and (max-width: 414px) {
    .left {
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 0;
    }
}